ul{
  background-color:#333;
  list-style-type:none;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 190px;
  text-decoration: none;
  height: 50px;

}

li a{
  padding:20px;
  float:left;
  margin-right: 50px;
  font-size: 20px;
  display: block;
  color: white;
  text-align: left;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 5px;
}
li a:hover{
  background-color:#111;
  border-radius: 12px;
  
  
}
*{
  box-sizing: border-box;
}